### panda

This module is mainly used for data science and visualization. Loading data from excel file and analyzing that data

#### function
1. DataFrame() - it will take number of argument and return the data structure
2. df.mean() -  it will return the mean of the series or DF
3. df.min|max|avg() - it will min, max or avg of the  series or DF
4. read_csv("file", header = True, sep = ",") - it will read the csv file, header is true and separator is , by default.
5. df.set_index("columnName") - it will set the defined column as index
6. df.shape() - it will give the shape of the DF, no of rows and columns
7. read_json("filename|path") - it will read the json file.
8. read_excel("filename|path", sheetname = 0) - it will read the excel file and first sheet in it
9. df.loc["row value range":"column value range"] - it will slice the DF based on the name values
10. df.iloc["row number range":"column number range"] - it will slice the DF based on the number
11. df.ix["row_range":"column_range"] - it will allow the mixture of numbers and names to slice the DF
12. df.drop("name", 1|0) - it will delete the row or column based on 0 or 1 respectively.
13. df.index["row_number_range"] -  it will select the particular row range number from DF.
14. df.columns["column_number"] - it will select the particular column.
15. df.T - it will transpose the DF. 
16. df["column_name"].apply(method) - it will let you apply any method on a particular column iterative .

In [15]:
import pandas

df1 = pandas.DataFrame([['dhairya',6250],['raju',8500],['kalyan',15000]])
print(df1)

df2 = pandas.DataFrame([['dhairya',6250],['raju',8500],['kalyan',15000]], columns=["Name","Salary"])
print(df2)

df3 = pandas.DataFrame([['dhairya',6250],['raju',8500],['kalyan',15000]], columns=["Name","Salary"], index=[1,2,3])
print(df3)

df4 = pandas.DataFrame([['dhairya',6250],['raju',8500],['kalyan']], columns=["Name","Salary"], index=[1,2,3])
print(df4)

x1 = df3.mean()
print("Mean %s" %x1)

x2 = df3.Salary.mean()
print("Mean {}". format(x2))

         0      1
0  dhairya   6250
1     raju   8500
2   kalyan  15000
      Name  Salary
0  dhairya    6250
1     raju    8500
2   kalyan   15000
      Name  Salary
1  dhairya    6250
2     raju    8500
3   kalyan   15000
      Name  Salary
1  dhairya  6250.0
2     raju  8500.0
3   kalyan     NaN
Mean Salary    9916.666667
dtype: float64
Mean 9916.666666666666

In [21]:
import pandas as pd

df1 = pd.read_csv("data.csv")
print(df1)

df2 = pd.read_csv("data.csv", header = None)
print(df2)

df3 = pd.read_csv("data.csv").set_index("id")
print(df3)

x1 = df3.shape
print(x1)

   id       name  age  weight  gender
0   1       biju   40      75    male
1   2     shrini   35      80    male
2   3      murli   27      60    male
3   4  shreenath   33      70    male
4   5    dhairya   27      74    male
5   6       kate   30      55  female
    0          1    2       3       4
0  id       name  age  weight  gender
1   1       biju   40      75    male
2   2     shrini   35      80    male
3   3      murli   27      60    male
4   4  shreenath   33      70    male
5   5    dhairya   27      74    male
6   6       kate   30      55  female
         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
(6, 4)

In [24]:
import pandas as pd

df1 = pd.read_json("pd_data.json")
print(df1)

   dhairya   raj  alex
0     2023  4698  9786

In [27]:
import pandas as pd

df1 = pd.read_excel("data.xlsx", sheet_name = 0).set_index("id")
print(df1)

         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female

#### index and slice

In [12]:
import pandas as pd

df1 = pd.read_csv("data.csv").set_index("id")
print(df1)

df2 = df1.loc[2:5,"age":"weight"]
print(df2)

df3 = df1.loc[2:,:]
print(df3)

df4 = df1.loc[5,"age"]
print("age %s" %df4)

df5 = df1.iloc[1:3,2:4]
print(df5)

df6 = df1.ix[1:,"name":"age"]
print(df6)

df7 = df1.index[0:3]
print(df7)

         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
    age  weight
id
2    35      80
3    27      60
4    33      70
5    27      74
         name  age  weight  gender
id
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
age 27
    weight gender
id
2       80   male
3       60   male
         name  age
id
1        biju   40
2      shrini   35
3       murli   27
4   shreenath   33
5     dhairya   27
6        kate   30
Int64Index([1, 2, 3], dtype='int64', name='id')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

#### deleting

In [23]:
import pandas as pd

df1 = pd.read_csv("data.csv").set_index("id")
print(df1)

df2 = df1.drop("age",1)
print(df2)

df3 = df1.drop(2,0)
print(df3)

df4 = df1.drop(df1.index[2:4],0)
print(df4)

df5 = df1.drop(df1.columns[2:3],1)
print(df5)

         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
         name  weight  gender
id
1        biju      75    male
2      shrini      80    male
3       murli      60    male
4   shreenath      70    male
5     dhairya      74    male
6        kate      55  female
         name  age  weight  gender
id
1        biju   40      75    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
       name  age  weight  gender
id
1      biju   40      75    male
2    shrini   35      80    male
5   dhairya   27      74    male
6      kate   30      55  female
         name  age  gender
id
1        biju   40    male
2      shrini   35    male
3       murli   27    male
4   shreenath   33    male
5     dhairya   27    male
6        kate   30  female

#### adding or updating

In [2]:
import pandas as pd

df1 = pd.read_csv("data.csv").set_index("id")
print(df1)

df1["company"] = df1.shape[0]*['Al Ahlia']
print(df1)

df2 = df1
df2["company"] = "Al Ahlia | no shape required for modifying"
print(df2)

df3 = df1.T
print(df3)
df3[7] = ['ridhi',27,43,'female','LB']
print(df3)
df3 = df3.T
print(df3)

         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
         name  age  weight  gender   company
id
1        biju   40      75    male  Al Ahlia
2      shrini   35      80    male  Al Ahlia
3       murli   27      60    male  Al Ahlia
4   shreenath   33      70    male  Al Ahlia
5     dhairya   27      74    male  Al Ahlia
6        kate   30      55  female  Al Ahlia
         name  age  weight  gender                                     company
id
1        biju   40      75    male  Al Ahlia | no shape required for modifying
2      shrini   35      80    male  Al Ahlia | no shape required for modifying
3       murli   27      60    male  Al Ahlia | no shape required for modifying
4   shreenath   33      70    male  Al Ahlia | no shape required for modifying
5     dhairya   27      74    male  Al Ahlia | no shape required for modifying
6        kate   30      55  female  Al Ahlia | no shape required for modifying
id                                                1  \
name                                           biju
age                                              40
weight                                           75
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                2  \
name                                         shrini
age                                              35
weight                                           80
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                3  \
name                                          murli
age                                              27
weight                                           60
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                4  \
name                                      shreenath
age                                              33
weight                                           70
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                5  \
name                                        dhairya
age                                              27
weight                                           74
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                6
name                                           kate
age                                              30
weight                                           55
gender                                       female
company  Al Ahlia | no shape required for modifying
id                                                1  \
name                                           biju
age                                              40
weight                                           75
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                2  \
name                                         shrini
age                                              35
weight                                           80
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                3  \
name                                          murli
age                                              27
weight                                           60
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                4  \
name                                      shreenath
age                                              33
weight                                           70
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                5  \
name                                        dhairya
age                                              27
weight                                           74
gender                                         male
company  Al Ahlia | no shape required for modifying

id                                                6       7
name                                           kate   ridhi
age                                              30      27
weight                                           55      43
gender                                       female  female
company  Al Ahlia | no shape required for modifying      LB
         name age weight  gender                                     company
id
1        biju  40     75    male  Al Ahlia | no shape required for modifying
2      shrini  35     80    male  Al Ahlia | no shape required for modifying
3       murli  27     60    male  Al Ahlia | no shape required for modifying
4   shreenath  33     70    male  Al Ahlia | no shape required for modifying
5     dhairya  27     74    male  Al Ahlia | no shape required for modifying
6        kate  30     55  female  Al Ahlia | no shape required for modifying
7       ridhi  27     43  female                                          LB

In [38]:
import pandas as pd

df1 = pd.read_csv("data.csv").set_index("id")
print(df1)

print(df1["name"].apply(max))

         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
id
1    u
2    s
3    u
4    t
5    y
6    t
Name: name, dtype: object

In [19]:
"""
This will convert a DF into a list of rows

"""

import pandas as pd

df1 = pd.read_csv("data.csv").set_index("id")
df2 = list(df1)

l = []
for i in range(int(df1.shape[0])):
    l.append(list(df1.loc[i+1,:]))
    
print(l)

[['biju', 40, 75, 'male'], ['shrini', 35, 80, 'male'], ['murli', 27, 60, 'male'], ['shreenath', 33, 70, 'male'], ['dhairya', 27, 74, 'male'], ['kate', 30, 55, 'female']]