### panda

This module is mainly used for data science and visualization. Loading data from excel file and analyzing that data

#### function
1. DataFrame() - it will take number of argument and return the data structure
2. df.mean() -  it will return the mean of the series or DF
3. df.min|max|avg() - it will min, max or avg of the  series or DF
4. read_csv("file", header = True, sep = ",") - it will read the csv file, header is true and separator is , by default.
5. df.set_index("columnName") - it will set the defined column as index
6. df.shape() - it will give the shape of the DF, no of rows and columns
7. read_json("filename|path") - it will read the json file.
8. read_excel("filename|path", sheetname = 0) - it will read the excel file and first sheet in it
9. df.loc["row value range":"column value range"] - it will slice the DF based on the name values
10. df.iloc["row number range":"column number range"] - it will slice the DF based on the number

In [15]:
import pandas

df1 = pandas.DataFrame([['dhairya',6250],['raju',8500],['kalyan',15000]])
print(df1)

df2 = pandas.DataFrame([['dhairya',6250],['raju',8500],['kalyan',15000]], columns=["Name","Salary"])
print(df2)

df3 = pandas.DataFrame([['dhairya',6250],['raju',8500],['kalyan',15000]], columns=["Name","Salary"], index=[1,2,3])
print(df3)

df4 = pandas.DataFrame([['dhairya',6250],['raju',8500],['kalyan']], columns=["Name","Salary"], index=[1,2,3])
print(df4)

x1 = df3.mean()
print("Mean %s" %x1)

x2 = df3.Salary.mean()
print("Mean {}". format(x2))

         0      1
0  dhairya   6250
1     raju   8500
2   kalyan  15000
      Name  Salary
0  dhairya    6250
1     raju    8500
2   kalyan   15000
      Name  Salary
1  dhairya    6250
2     raju    8500
3   kalyan   15000
      Name  Salary
1  dhairya  6250.0
2     raju  8500.0
3   kalyan     NaN
Mean Salary    9916.666667
dtype: float64
Mean 9916.666666666666

In [21]:
import pandas as pd

df1 = pd.read_csv("data.csv")
print(df1)

df2 = pd.read_csv("data.csv", header = None)
print(df2)

df3 = pd.read_csv("data.csv").set_index("id")
print(df3)

x1 = df3.shape
print(x1)

   id       name  age  weight  gender
0   1       biju   40      75    male
1   2     shrini   35      80    male
2   3      murli   27      60    male
3   4  shreenath   33      70    male
4   5    dhairya   27      74    male
5   6       kate   30      55  female
    0          1    2       3       4
0  id       name  age  weight  gender
1   1       biju   40      75    male
2   2     shrini   35      80    male
3   3      murli   27      60    male
4   4  shreenath   33      70    male
5   5    dhairya   27      74    male
6   6       kate   30      55  female
         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
(6, 4)

In [24]:
import pandas as pd

df1 = pd.read_json("pd_data.json")
print(df1)

   dhairya   raj  alex
0     2023  4698  9786

In [27]:
import pandas as pd

df1 = pd.read_excel("data.xlsx", sheet_name = 0).set_index("id")
print(df1)

         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female

#### index and slice

In [18]:
import pandas as pd

df1 = pd.read_csv("data.csv").set_index("id")
print(df1)

df2 = df1.loc[2:5,"age":"weight"]
print(df2)

df3 = df1.loc[2:,:]
print(df3)

df4 = df1.loc[5,"age"]
print("age %s" %df4)

         name  age  weight  gender
id
1        biju   40      75    male
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
    age  weight
id
2    35      80
3    27      60
4    33      70
5    27      74
         name  age  weight  gender
id
2      shrini   35      80    male
3       murli   27      60    male
4   shreenath   33      70    male
5     dhairya   27      74    male
6        kate   30      55  female
age 27

In [19]:
"""
This will convert a DF into a list of rows

"""

import pandas as pd

df1 = pd.read_csv("data.csv").set_index("id")
df2 = list(df1)

l = []
for i in range(int(df1.shape[0])):
    l.append(list(df1.loc[i+1,:]))
    
print(l)

[['biju', 40, 75, 'male'], ['shrini', 35, 80, 'male'], ['murli', 27, 60, 'male'], ['shreenath', 33, 70, 'male'], ['dhairya', 27, 74, 'male'], ['kate', 30, 55, 'female']]